.header-bg{
    background-color: #000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding:20px 0px;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 40px;
    align-items:center;
}

.header-menu a{
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    position: relative;
}

.header-menu [href^="#"]::after{
    content:"";
    display:block;
    height: 2px ;
    width: 0px;
    background-color: #fff;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}
    
.header-menu [href^="#"]:hover::after{
    width: 100%;
}

.header-btn{
    padding: 8px 16px;
    border-radius: 10px;
    background-color: #00F485;
    border: 0px;
    font-size: 1.5rem;
    color: #00160c;
    cursor: pointer;
}

.header-btn:hover{
    background-color: #39ffa5;
}

@media(max-width:1400px){
    .header-menu a{
        font-size: 1.1rem;
    }
    .header-btn{
        font-size: 1.25rem;
    }
    .header img{
        width: 180px;
    }
}
@media (max-width:1000px){
    .header{
        margin: 40px;
    }
    .header-menu{
        gap: 20px;
        margin-top: 20px;
    }
    .header-menu [href^="#"]{
        display: inline-block;
        background-color: #111;
        padding: 8px 16px;
        border-radius: 8px;
    }
    .header-menu [href^="#"]:hover{
        background-color: #2e2e2e;
    }
    .header-menu [href^="#"]::after{
        display:none;
    }
       
}